@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.DraftEditor-editorContainer h1 {
  @apply text-4xl;
  @apply font-bold;
}
.DraftEditor-editorContainer h2 {
  @apply text-3xl;
  @apply font-bold;
}
.DraftEditor-editorContainer h3 {
  @apply text-2xl;
  @apply font-bold;
}
.DraftEditor-editorContainer h4 {
  @apply text-xl;
  @apply font-semibold;
}
.DraftEditor-editorContainer h5 {
  @apply text-lg;
  @apply font-semibold;
}
.DraftEditor-editorContainer h6 {
  @apply text-sm;
  @apply font-semibold;
}

.red-text {
  color: red;
}
